<div class="projectContent">
	<div class="row">
		<div class="bubbleHeaderMain projectMain bubble col-md-4">
			<i class="fa fa-arrow-left backArrow animated fadeInRight"></i>
			<div class="circle projectCircle">
				<i class="fa fa-folder icon"></i>
				<p class="iconText">Projects</p>
			</div>
		</div>
		<div class="postHeader col-md-8 animated fadeInRight">
			<p class="postTitle">Dalton's Projects</p>
			<p class="blogHeaderText">Major projects Dalton has contributed to</p>
			<p><b>Note: </b>only released projects are listed, projects under development will be added once released. Open source libraries are not listed.</p>
		</div>
	</div>
	<div class="projects animated bounceInUp">
		<div class="row">
			<div class="bubble col-md-4">
				<div class="circle dateCircle">
					<i class="fa fa-folder-open icon"></i>
					<p class="iconText">LS</p>
				</div>
			</div>
			<div class="postMain col-md-8">
				<div class="postText">
					<p class="postTitle">Posix Mobile Filter</p>
					<a href="http://www.lightspeedsystems.com/products/web-filter-overview/" class="blogHeaderText aboutImg">Lightspeed Systems</a>
					<img src="<%= image_path 'pmf_project.png' %>"/>
					<p class="postText">System service written in C that inspects and redirect packets as decided by a remote lookup server. Has support for Linux, Mac OS X and Android. Also includes delta based updater system, similar to Apple's iOS software updates. </p>			
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bubble col-md-4">
				<div class="circle dateCircle">
					<i class="fa fa-folder-open icon"></i>
					<p class="iconText">LS</p>
				</div>
			</div>
			<div class="postMain col-md-8">
				<div class="postText">
					<p class="postTitle">My Big Campus</p>
					<a href="http://www.lightspeedsystems.com/products/my-big-campus/" class="blogHeaderText aboutImg">Lightspeed Systems</a>
					<img src="<%= image_path 'mbc_app_project.jpg' %>"/>
					<p class="postText">Universal iOS app for My Big Campus. Has a custom UI and great features such as: viewing and creating posts, WYSIWYG editor, schoolwork test taking system, APNs, messaging system, and a file upload, viewing, and management system.</p>			
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bubble col-md-4">
				<div class="circle dateCircle">
					<i class="fa fa-folder-open icon"></i>
					<p class="iconText">Chat Simply</p>
				</div>
			</div>
			<div class="postMain col-md-8">
				<div class="postText">
					<p class="postTitle">Chat Simply</p>
					<a href="http://chatsimply.com/" class="blogHeaderText aboutImg">Chat Simply</a>
					<img src="<%= image_path 'cs_project.png' %>"/>
					<p class="postText">Universal iOS and Mac OS X app for Chat Simply. Provides a robust chatting experience and is built on the well established XMPP standard. It providing great group chat functionality such as: push notifications, file uploads, message history, integrations with many top services (github, pivotal, crashlytics), and in line content embedding.</p>			
				</div>
			</div>
		</div>

		<div class="row">
		<div class="bubble col-md-4">
			<div class="circle dateCircle">
				<i class="fa fa-folder-open icon"></i>
				<p class="iconText">Instee</p>
			</div>
		</div>
		<div class="postMain col-md-8">
			<div class="postText">
				<p class="postTitle">Instee</p>
				<a href="http://insteeapp.com/" class="blogHeaderText aboutImg">Instee</a>
				<!-- <img src="<%= image_path 'instee_project.png' %>"/> -->
				<p class="postText noImg">iPhone app to connect Instagram users based on location and interests. Has a custom UI and uses Ruby on Rails for the backend.</p>			
			</div>
		</div>
	</div>

	<div class="row">
		<div class="bubble col-md-4">
			<div class="circle dateCircle">
				<i class="fa fa-folder-open icon"></i>
				<p class="iconText">Vluxe</p>
			</div>
		</div>
		<div class="postMain col-md-8">
			<div class="postText">
				<p class="postTitle">Vluxe.io</p>
				<a href="http://vluxe.io/" class="blogHeaderText aboutImg">Vluxe.io</a>
				<!-- <img src="<%= image_path 'vluxe_project.png' %>"/> -->
				<p class="postText noImg">Weekly blog about interesting computer science topics.</p>			
			</div>
		</div>
	</div>

	<div class="row">
		<div class="bubble col-md-4">
			<div class="circle dateCircle">
				<i class="fa fa-folder-open icon"></i>
				<p class="iconText">Orca</p>
			</div>
		</div>
		<div class="postMain col-md-8">
			<div class="postText">
				<p class="postTitle">Orca</p>
				<a href="http://orca.github.io/" class="blogHeaderText aboutImg">Orca</a>
				<!-- <img src="<%= image_path 'orca_project.png' %>"/> -->
				<p class="postText noImg">Powerful network inspection and analyzing for OS X, similar to wireshark. Uses the well known pcap standard. Completely native OS X app.</p>			
			</div>
		</div>
	</div>

	</div>
	<div class="bottomPad">
	</div>
</div>